@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "card.css";
@import "question_card.css";
@import "navigation_question.css";
@import "result_card.css";

body {
  background-color: #171718 !important;
  margin: 0;
  padding: 0;
}
